:host {
    position: relative;
    overflow: hidden;
}

.viewport {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50vmax;
    margin-top: -50vmax;
    width: 100vmax;
    height: 100vmax;
}
